p {
     font-family: verdana;
    color:turquoise;
    font-size: 20px;
}

.paragrafo-final{
    color:dodgerblue;
}

#autor {
    font-style:italic;
    font-size: 15px;
}

li{
    font-family:arial;
    color:lightblue;
    font-size: 18px;
}

